---
name: Navbar
description: The site navigation bar.
---
<nav class="Header">
  <div class="Header-item">
    <a href="/" class="Header-link">Home</a>
  </div>
  <div class="Header-item">
    <a href="/about" class="Header-link">About</a>
  </div>
  <div class="Header-item">
    <a href="/posts" class="Header-link">Posts</a>
  </div>
</nav>
